.bg-azulmarino{
    background-color: #202857;
}

.tot-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    width: 100%;
    position: relative; 
}

.img-1 {
    background-image: url(./img/cabecera.jpg);
}

.grad-img{
    position: absolute;
    background-color: rgba(0,0,0,.3) ;
    width: 100%;
    height: 100%;
}

.grad-img div{
    bottom: 10rem;
    right: 8rem;
    text-align: end;
} 

.link-button { 
     background: none;
     border: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}